:root {
    --primaryColor: #003476;
    --secondaryColor: #b4d2f7;
    --headerZise: 4rem;
    --font: 1.8rem;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

header {
    width: 100vw;
    height: 15vh;
    background-color: var(--primaryColor);
}

main {
    width: 100vw;
    height: 70vh;
    font-size: var(--font);
}

h1 {
    font-size: var(--headerZise);
    color: var(--primaryColor);
}

footer {
    width: 100vw;
    height: 15vh;
    background-color: var(--secondaryColor);
}