* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

main {
	width: 100vw;
	height: 67rem;
}

.headClass {
	display: flex;
	flex-wrap: wrap;
	background: #333;
	color: white;
	justify-content: space-between;
}

	.logoClass {
		margin-left: 3rem;
		margin-top: 1.5rem;
	}

	.logoClass h1 {
		font-size: 2.2rem;
	}

	.logoClass:hover {
		color: #0b76a6;
	}

	.menuClass ul {
		margin: 0;
        padding: 0;
        padding-right: 20px;
	}

	.menuClass ul li {
		display: inline-block;
		line-height: 80px;
		margin-right: 2rem;
		font-size: 2rem;
	}

	.menuClass ul li:hover {
		background: #0b76a6;
	}


	.mainSection {
		display: flex;
		flex-wrap: wrap;
		background: grey;
		height: 80%;
	}

	.sideContent {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		background-color: lime;
		width: 15%;
		font-size: 2rem;
	}

	.mainContent {
		font-size: 2rem;
		display: flex;
		justify-content: center;
	}

	.footSection {
		display: flex;
		background: #333;
		color: white;
		justify-content: space-between;		
		height: 15%;
	}

	.footerElement1 {
		margin-left: 40px;
		margin-top: 40px;
	}

	.footerElement2 {
		margin-right: 40px;
		margin-top: 40px;
	}